<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CorvisaAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>
    </description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.corvisaAPI.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>Authenticator</display-name>
    <servlet-name>Authenticator</servlet-name>
    <servlet-class>com.corvisaAPI.Authenticator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticator</servlet-name>
    <url-pattern>/secure/authenticate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>Call</display-name>
    <servlet-name>Call</servlet-name>
    <servlet-class>com.corvisaAPI.Call</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Call</servlet-name>
    <url-pattern>/call/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>Notify</display-name>
    <servlet-name>Notify</servlet-name>
    <servlet-class>com.corvisaAPI.notification.Notify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notify</servlet-name>
    <url-pattern>/notify/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>com.corvisaAPI.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/connect/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>SendSMS</display-name>
    <servlet-name>SendSMS</servlet-name>
    <servlet-class>com.corvisaAPI.SendSMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSMS</servlet-name>
    <url-pattern>/sendsms/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>CallRecorder</display-name>
    <servlet-name>CallRecorder</servlet-name>
    <servlet-class>com.corvisaAPI.CallRecorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallRecorder</servlet-name>
    <url-pattern>/callrecord/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>ConferenceCall</display-name>
    <servlet-name>ConferenceCall</servlet-name>
    <servlet-class>com.corvisaAPI.ConferenceCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConferenceCall</servlet-name>
    <url-pattern>/conference/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>CallForward</display-name>
    <servlet-name>CallForward</servlet-name>
    <servlet-class>com.corvisaAPI.CallForward.CallForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallForward</servlet-name>
    <url-pattern>/voice/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>menu-show</display-name>
    <servlet-name>menu-show</servlet-name>
    <servlet-class>com.corvisaAPI.CallForward.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu-show</servlet-name>
    <url-pattern>/menu/show/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>commuter-connect</display-name>
    <servlet-name>commuter-connect</servlet-name>
    <servlet-class>com.corvisaAPI.CallForward.ConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commuter-connect</servlet-name>
    <url-pattern>/commuter/connect/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleKeyServlet</servlet-name>
    <servlet-class>com.corvisaAPI.HandleKeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleKeyServlet</servlet-name>
    <url-pattern>/handle-key/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnectCall</servlet-name>
    <servlet-class>com.corvisaAPI.ConnectCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectCall</servlet-name>
    <url-pattern>/ConnectCall/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Token</servlet-name>
    <servlet-class>com.corvisaAPI.token.CapabilityTokenGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Token</servlet-name>
    <url-pattern>/token/generate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowserCall</servlet-name>
    <servlet-class>com.corvisaAPI.token.BrowserCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowserCall</servlet-name>
    <url-pattern>/call-tracking/forward-call/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeadAlert</servlet-name>
    <servlet-class>com.corvisaAPI.leadalert.AlertMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadAlert</servlet-name>
    <url-pattern>/alertme/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeadNotification</servlet-name>
    <servlet-class>com.corvisaAPI.leadalert.NotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadNotification</servlet-name>
    <url-pattern>/notifications/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SMS</servlet-name>
    <servlet-class>com.corvisaAPI.notification.SMS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SMS</servlet-name>
    <url-pattern>/SMS/*</url-pattern>
  </servlet-mapping>
</web-app>